# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix .* folders
.deps/
.states/

# Remix' .prettierrc.json
.prettierrc.json

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local